<section class="py-5">
    <div class="container">

        <h2 class="text-center mb-5">How Proof-of-Work Works</h2>

        <div class="row">

            {% for s in data.signals %}
            <div class="col-md-4">
                <div class="card p-4 shadow-sm h-100">
                    <h4>{{ s.title }}</h4>
                    <p>{{ s.desc }}</p>

                    {% if s.badge %}
                        <img src="{{ url_for('static', filename='images/certified.png') }}"
                            alt="Issuer Signal"
                            class="signal-img">
                    {% elif s.peer %}
                        <img src="{{ url_for('static', filename='images/peer.png') }}"
                            alt="Peer Signal"
                            class="signal-img">
                    {% elif s.technical %}
                        <img src="{{ url_for('static', filename='images/technical.png') }}"
                            alt="Technical Signal"
                            class="signal-img">
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>