{% extends "base.html" %}

{% block content %}

<div
    class="background"
    style="background-image: url('{{ url_for('static', filename='images/background.png') }}');">

    
    {% include "partials/navbar.html" %}

    {% include "sections/hero.html" %}
    {% include "sections/how_it_works.html" %}
</div>
<div  class="background"
    style="background-image: url('{{ url_for('static', filename='images/background2.png') }}');">

    {% include "sections/proof_vault.html" %}

    {% include "sections/recognition.html" %}
</div>


{% include "sections/trust_moat.html" %}

{% include "sections/cta.html" %}

{% endblock %}